acpid
android-tools
apparmor
archlinux-wallpaper
atlauncher
base
base-devel
bat
bind
bluez-utils
brave-bin
btop
chafa
cmake
cnrdrvcups-lb
cuda
cups
devtools
dkms
efibootmgr
efitools
ethtool
fastfetch
firefox
firejail
firewalld
flatpak
gdm
gedit
gimp
git
github-cli
gnome-backgrounds
gnome-calculator
gnome-calendar
gnome-control-center
gnome-disk-utility
gnome-font-viewer
gnome-power-manager
gnome-screenshot
gnome-shell-extensions
gnome-system-monitor
gnome-terminal
gnome-tweaks
gpsd
gvfs-google
gvfs-mtp
ibus-bamboo
ifplugd
imagemagick
incus
less
lib32-nvidia-utils
lib32-vulkan-radeon
libreoffice-extension-texmaths
libreoffice-still
libvirt
linux
linux-firmware
linux-headers
loupe
man-db
mesa-utils
nano
networkmanager
noto-fonts
noto-fonts-cjk
noto-fonts-emoji
ntfs-3g
nvidia-open-dkms
nvidia-prime
nvidia-settings
nvidia-utils
pacman-contrib
paru
paru-debug
pkgstats
plymouth
podman
polkit-gnome
pop-gtk-theme
pop-icon-theme
proton-vpn-gtk-app
python-notify2
python-pip
python-pipx
python-psutil
renode
rust
scrcpy
smartmontools
spotify-launcher
steam
stress
sudo
switcheroo-control
system-config-printer
tesseract-data-vie
texlive-fontsrecommended
texlive-latex
texlive-latexextra
texlive-latexrecommended
texlive-luatex
texlive-pictures
texlive-xetex
tk
tldr
tlp
torbrowser-launcher
traceroute
ttf-dejavu
virt-manager
visual-studio-code-bin
vlc
vlc-plugin-ffmpeg
vulkan-radeon
vulkan-tools
wl-clipboard
xf86-video-amdgpu
zram-generator
zsh
